<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>iLabAutomationV1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b48a68">  <td>20/07/20 12:58:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ApplyOnlineTest_001.VerifyOnlineApplication()[pri:0, instance:com.iLabCareers.TestCase.TC_ApplyOnlineTest_001@7fc2413d]">VerifyOnlineApplication</td> 
  <td>main@623247230</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>20/07/20 12:57:59</td>   <td>-8883</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp(java.lang.String)[pri:0, instance:com.iLabCareers.TestCase.TC_ApplyOnlineTest_001@7fc2413d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@623247230</td>   <td></td> </tr>
<tr bgcolor="8da18f">  <td>20/07/20 13:01:17</td>   <td>188449</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.iLabCareers.TestCase.TC_ApplyOnlineTest_001@7fc2413d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@623247230</td>   <td></td> </tr>
</table>
